<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../assets/img/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/marcador.css">
</head>

<body>
    <main>
        <div class="barra">
            <img src="../assets/img/peru.png" alt="">
            <h3>Selección Peruana de fútbol de Perú</h3>
        </div>
        <div class="opciones">
            <a href="#" id="salir">Salir</a>
            <a href="#" id="btn-prediccion" class="extra">Registrar Predicción</a>
        </div>

        <div class="cajaTarjetas">
            <section class="tarjeta">
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/peru.png" alt="">
                        <span>Peru</span>
                    </div>
                    <input type="number" name="" id="peru-colombia" min="0">
                </div>
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/colombia.png" alt="">
                        <span>Colombia</span>
                    </div>
                    <input type="number" name="" id="colombia-peru" min="0">
                </div>
                <div class="fechas">
                    <span>Viernes, 6/9</span>
                    <span>20:30</span>
                </div>
            </section>


            <section class="tarjeta">
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/ecuador.png" alt="">
                        <span>Ecuador</span>
                    </div>
                    <input type="number" name="" id="ecuador-peru" min="0">
                </div>
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/peru.png" alt="">
                        <span>Peru</span>
                    </div>
                    <input type="number" name="" id="peru-ecuador" min="0">
                </div>
                <div class="fechas">
                    <span>Martes, 10/9</span>
                    <span>16:00</span>
                </div>
            </section>

            <section class="tarjeta">
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/peru.png" alt="">
                        <span>Peru</span>
                    </div>
                    <input  type="number" name="" id="peru-uruguay"  min="0">
                </div>
                <div class="div_tarjeta">
                    <div>
                        <img src="../assets/img/uruguay.png" alt="">
                        <span>Uruguay</span>
                    </div>
                    <input  type="number" name="" id="uruguay-peru" min="0">
                </div>
                <div class="fechas">
                    <span>Jueves, 11/10</span>
                    <span>20:30</span>
                </div>
            </section>
            
            <!----------------------
                <section class="tarjeta">
                    <div class="div_tarjeta">
                        <div>
                            <img src="../assets/img/peru.png" alt="">
                            <span>Perú</span>
                        </div>
                        <input type="number" name="" id="peru-argentina"  min="0">
                   </div> 
                   <div class="div_tarjeta">
                      <div>
                          <img src="../assets/img/argentina.png" alt="">
                          <span>Argentina</span>
                      </div>
                      <input type="number" name="" id="argentina-peru"  min="0">
                   </div> 
                   <div class="fechas">
                    <span >Martes, 17/10</span>
                    <span>21:00</span>
                </div> 
                </section>

                <section class="tarjeta">
                    <div class="div_tarjeta">
                        <div>
                            <img src="../assets/img/bolivia.png" alt="">
                            <span>Bolivia</span>
                        </div>
                        <input type="number" name="" id="bolivia-peru"  min="0">
                   </div> 
                   <div class="div_tarjeta">
                      <div >
                          <img src="../assets/img/peru.png" alt="">
                          <span>Perú</span>
                      </div>
                      <input type="number" name="" id="peru-bolivia"  min="0">
                   </div> 
                   <div class="fechas">
                    <span>Jueves, 16/11</span>
                    <span>15:00</span>
                  </div> 
                </section>
        
                <section class="tarjeta">
                    <div class="div_tarjeta">
                        <div>
                            <img src="../assets/img/peru.png" alt="">
                            <span>Perú</span>
                        </div>
                        <input type="number" name="" id="peru-venezuela"  min="0">
                   </div> 
                   <div class="div_tarjeta">
                      <div>
                          <img src="../assets/img/venezuela.png" alt="">
                          <span>Venezuela</span>
                      </div>
                      <input type="number" name="" id="venezuela-peru"  min="0" >
                   </div> 
                   <div class="fechas">
                    <span>Martes, 21/11</span>
                    <span>21:00</span>
                  </div>
                </section>
                ---------------------->
        </div>

    </main>


    <script type="module" src="../assets/js/crud.js"></script>

</body>

</html>
